<aside class="sidebar">

  <div class="sidebar-container">
    <div class="sidebar-logo">
      <a href="{{site.baseurl}}/" class="logo">{% if site.name %}{{site.name}}{% else %}Fresh{% endif %}</a>
    </div>

    <menu class="sidebar-menu">
      <li class="menu-items"><a class="menu-links" href="{{site.baseurl}}/">Posts</a></li>
      <li class="menu-items"><a class="menu-links" href="{{site.baseurl}}/about/">About</a></li>
    </menu>

    <div class="sidebar-social">
    </div>

  </div>
</aside>
